<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b7f67">  <td>18/12/01 12:17:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest1.BrowserAppLaunch()[pri:0, instance:com.crmpro.testscript.LoginTest1@77cd7a0]">&gt;&gt;BrowserAppLaunch</td> 
<td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/12/01 12:19:21</td>   <td>84004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest1.driverClose()[pri:0, instance:com.crmpro.testscript.LoginTest1@77cd7a0]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>18/12/01 12:18:31</td>   <td>34322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest1.verifyLoginViaExcel()[pri:0, instance:com.crmpro.testscript.LoginTest1@77cd7a0]">verifyLoginViaExcel</td> 
  <td>main@836514715</td>   <td></td> </tr>
</table>
